In [1]:
import pandas as pd
import pickle
import os

In [2]:
dataset_root = "/home/jarred/Documents/Datasets/CASIA_KF"
csv_name="casia.csv"

pickle_name = "k_vs_sil.pkl"
path_feature_dic_name="path_feature_dic.pkl"

In [5]:
dataset_frame = pd.read_csv(os.path.join(dataset_root, csv_name))
dataset_frame = dataset_frame.query("usage_type == 'train'")
dataset_frame.head()

,usage_type,ground_truth,subject_number,video_name,video_frames,frames_present,attack_category,directory_path,optimal_k,average_k
360,train,spoof,1,HR_4.avi,273,15,HR_R,train/spoof/1/HR_4,53,15
361,train,spoof,1,HR_2.avi,247,15,HR_W,train/spoof/1/HR_2,6,15
362,train,spoof,1,HR_3.avi,80,3,HR_C,train/spoof/1/HR_3,2,3
363,train,spoof,1,3.avi,328,28,W1,train/spoof/1/3,3,28
364,train,spoof,1,4.avi,202,25,W2,train/spoof/1/4,3,25

In [6]:
categories = dataset_frame['attack_category'].unique()
print(categories)

['HR_R' 'HR_W' 'HR_C' 'W1' 'W2' 'C2' 'R1' 'C1' 'R2' 'N1' 'HR_N' 'N2']

In [54]:
def find_max_k(dataset_root, directory_path, pickle_name):
    folder_path = os.path.join(dataset_root, directory_path)
    with open(os.path.join(folder_path, pickle_name), "rb") as f:
        k_vs_sil = pickle.load(f)
    max_score = max(k_vs_sil[1])
    max_index = k_vs_sil[1].index(max_score)
    print(k_vs_sil[0])
    return k_vs_sil[0][max_index]

In [7]:
# frames = []
# for category in categories:
#     category_frame = dataset_frame.query(f"attack_category == '{category}'")
#     copy = category_frame.copy()
#     copy["optimal_k"] = category_frame.apply(lambda x: find_max_k(dataset_root, x['directory_path'], pickle_name), axis=1)
#     frames.append(copy)
# frame = pd.concat(frames)
metrics = dataset_frame.groupby(['attack_category'])
metric_frame = metrics.describe()
temp = metric_frame.iloc[:,24:]
temp3 = temp.to_dict()
category_mean_dic = temp3[('optimal_k', 'mean')]

In [8]:
temp.head(20)

                optimal_k                                                    \
                    count   mean        std  min    25%   50%    75%    max
attack_category
C1                   20.0   2.05   0.223607  2.0   2.00   2.0   2.00    3.0
C2                   20.0   2.15   0.489360  2.0   2.00   2.0   2.00    4.0
HR_C                 20.0   3.05   4.236123  2.0   2.00   2.0   2.00   21.0
HR_N                 20.0  12.25  20.175219  2.0   2.00   3.0   5.25   68.0
HR_R                 20.0  18.15  29.533701  2.0   2.00   2.5  14.50   85.0
HR_W                 20.0  20.70  28.541936  2.0   2.75   4.5  39.75  101.0
N1                   20.0  14.20  14.954668  2.0   2.00   5.0  23.25   42.0
N2                   20.0   9.55  16.772393  2.0   2.00   2.5   4.25   54.0
R1                   20.0  14.05  20.836393  2.0   2.00   2.5  18.25   63.0
R2                   20.0  10.75  13.009612  2.0   2.00   2.0  21.25   40.0
W1                   20.0  32.75  21.425207  2.0  20.25  31.5  49.50   73.0
W2                   20.0  17.35  30.877133  2.0   2.00   3.0   4.50   95.0

                average_k
                    count  mean  std   min   25%   50%   75%   max
attack_category
C1                   20.0   2.0  0.0   2.0   2.0   2.0   2.0   2.0
C2                   20.0   2.0  0.0   2.0   2.0   2.0   2.0   2.0
HR_C                 20.0   3.0  0.0   3.0   3.0   3.0   3.0   3.0
HR_N                 20.0  13.0  0.0  13.0  13.0  13.0  13.0  13.0
HR_R                 20.0  15.0  0.0  15.0  15.0  15.0  15.0  15.0
HR_W                 20.0  15.0  0.0  15.0  15.0  15.0  15.0  15.0
N1                   20.0  15.0  0.0  15.0  15.0  15.0  15.0  15.0
N2                   20.0  13.0  0.0  13.0  13.0  13.0  13.0  13.0
R1                   20.0  12.0  0.0  12.0  12.0  12.0  12.0  12.0
R2                   20.0  13.0  0.0  13.0  13.0  13.0  13.0  13.0
W1                   20.0  28.0  0.0  28.0  28.0  28.0  28.0  28.0
W2                   20.0  25.0  0.0  25.0  25.0  25.0  25.0  25.0

In [26]:

metric_frame.head(20)

                subject_number                                              \
                         count  mean       std  min  25%   50%   75%   max
attack_category
C1                        50.0  13.5  8.096989  1.0  7.0  13.0  19.0  30.0
C2                        50.0  13.5  8.096989  1.0  7.0  13.0  19.0  30.0
HR_C                      50.0  13.5  8.096989  1.0  7.0  13.0  19.0  30.0
HR_N                      50.0  13.5  8.096989  1.0  7.0  13.0  19.0  30.0
HR_R                      50.0  13.5  8.096989  1.0  7.0  13.0  19.0  30.0
HR_W                      50.0  13.5  8.096989  1.0  7.0  13.0  19.0  30.0
N1                        50.0  13.5  8.096989  1.0  7.0  13.0  19.0  30.0
N2                        50.0  13.5  8.096989  1.0  7.0  13.0  19.0  30.0
R1                        50.0  13.5  8.096989  1.0  7.0  13.0  19.0  30.0
R2                        50.0  13.5  8.096989  1.0  7.0  13.0  19.0  30.0
W1                        50.0  13.5  8.096989  1.0  7.0  13.0  19.0  30.0
W2                        50.0  13.5  8.096989  1.0  7.0  13.0  19.0  30.0

                video_frames          ... frames_present        max_k         \
                       count    mean  ...            75%    max count   mean
attack_category                       ...
C1                      50.0  156.56  ...          55.75   77.0  50.0   2.14
C2                      50.0  196.60  ...         103.25  124.0  50.0   2.16
HR_C                    50.0  133.74  ...          31.75  111.0  50.0   2.60
HR_N                    50.0  207.18  ...          44.75   91.0  50.0  13.18
HR_R                    50.0  201.56  ...          46.75   85.0  50.0  14.54
HR_W                    50.0  251.18  ...          56.75  101.0  50.0  14.56
N1                      50.0  160.54  ...          39.75  137.0  50.0  14.72
N2                      50.0  168.76  ...          74.00  118.0  50.0  12.72
R1                      50.0  195.36  ...          36.00   76.0  50.0  12.20
R2                      50.0  152.06  ...          38.25   81.0  50.0  12.78
W1                      50.0  196.78  ...          60.00  114.0  50.0  27.66
W2                      50.0  197.32  ...          80.75  102.0  50.0  24.82


                       std  min  25%   50%    75%    max
attack_category
C1                0.350510  2.0  2.0   2.0   2.00    3.0
C2                0.421852  2.0  2.0   2.0   2.00    4.0
HR_C              2.710524  2.0  2.0   2.0   2.00   21.0
HR_N             19.958825  2.0  2.0   3.0  11.25   68.0
HR_R             22.337129  2.0  2.0   2.0  16.50   85.0
HR_W             23.892754  2.0  2.0   5.0   8.75  101.0
N1               16.466466  2.0  2.0   5.5  23.75   69.0
N2               24.462416  2.0  2.0   2.0   4.75  118.0
R1               18.127665  2.0  2.0   2.0  16.75   70.0
R2               16.486593  2.0  2.0   2.0  21.75   72.0
W1               24.719331  2.0  3.0  26.5  49.00   73.0
W2               34.930070  2.0  2.0   3.0  64.75   97.0

[12 rows x 32 columns]

In [47]:
print()

{'C1': 2.14, 'C2': 2.16, 'HR_C': 2.6, 'HR_N': 13.18, 'HR_R': 14.54, 'HR_W': 14.56, 'N1': 14.72, 'N2': 12.72, 'R1': 12.2, 'R2': 12.78, 'W1': 27.66, 'W2': 24.82}

In [36]:
temp.head(20)

                max_k
                count   mean        std  min  25%   50%    75%    max
attack_category
C1               50.0   2.14   0.350510  2.0  2.0   2.0   2.00    3.0
C2               50.0   2.16   0.421852  2.0  2.0   2.0   2.00    4.0
HR_C             50.0   2.60   2.710524  2.0  2.0   2.0   2.00   21.0
HR_N             50.0  13.18  19.958825  2.0  2.0   3.0  11.25   68.0
HR_R             50.0  14.54  22.337129  2.0  2.0   2.0  16.50   85.0
HR_W             50.0  14.56  23.892754  2.0  2.0   5.0   8.75  101.0
N1               50.0  14.72  16.466466  2.0  2.0   5.5  23.75   69.0
N2               50.0  12.72  24.462416  2.0  2.0   2.0   4.75  118.0
R1               50.0  12.20  18.127665  2.0  2.0   2.0  16.75   70.0
R2               50.0  12.78  16.486593  2.0  2.0   2.0  21.75   72.0
W1               50.0  27.66  24.719331  2.0  3.0  26.5  49.00   73.0
W2               50.0  24.82  34.930070  2.0  2.0   3.0  64.75   97.0

In [45]:
temp2 =temp.T

In [43]:
for row in temp.T.to_dict(orient="records"):
    print(row)

{'C1': 50.0, 'C2': 50.0, 'HR_C': 50.0, 'HR_N': 50.0, 'HR_R': 50.0, 'HR_W': 50.0, 'N1': 50.0, 'N2': 50.0, 'R1': 50.0, 'R2': 50.0, 'W1': 50.0, 'W2': 50.0}
{'C1': 2.14, 'C2': 2.16, 'HR_C': 2.6, 'HR_N': 13.18, 'HR_R': 14.54, 'HR_W': 14.56, 'N1': 14.72, 'N2': 12.72, 'R1': 12.2, 'R2': 12.78, 'W1': 27.66, 'W2': 24.82}
{'C1': 0.3505098327538656, 'C2': 0.42185208743524005, 'HR_C': 2.710523708715754, 'HR_N': 19.958824962345627, 'HR_R': 22.337129335229616, 'HR_W': 23.89275357654257, 'N1': 16.466465613358515, 'N2': 24.462415986945512, 'R1': 18.127665180545428, 'R2': 16.486593192713915, 'W1': 24.719330616391073, 'W2': 34.930070081784365}
{'C1': 2.0, 'C2': 2.0, 'HR_C': 2.0, 'HR_N': 2.0, 'HR_R': 2.0, 'HR_W': 2.0, 'N1': 2.0, 'N2': 2.0, 'R1': 2.0, 'R2': 2.0, 'W1': 2.0, 'W2': 2.0}
{'C1': 2.0, 'C2': 2.0, 'HR_C': 2.0, 'HR_N': 2.0, 'HR_R': 2.0, 'HR_W': 2.0, 'N1': 2.0, 'N2': 2.0, 'R1': 2.0, 'R2': 2.0, 'W1': 3.0, 'W2': 2.0}
{'C1': 2.0, 'C2': 2.0, 'HR_C': 2.0, 'HR_N': 3.0, 'HR_R': 2.0, 'HR_W': 5.0, 'N1': 5.5, 'N2': 2.0, 'R1': 2.0, 'R2': 2.0, 'W1': 26.5, 'W2': 3.0}
{'C1': 2.0, 'C2': 2.0, 'HR_C': 2.0, 'HR_N': 11.25, 'HR_R': 16.5, 'HR_W': 8.75, 'N1': 23.75, 'N2': 4.75, 'R1': 16.75, 'R2': 21.75, 'W1': 49.0, 'W2': 64.75}
{'C1': 3.0, 'C2': 4.0, 'HR_C': 21.0, 'HR_N': 68.0, 'HR_R': 85.0, 'HR_W': 101.0, 'N1': 69.0, 'N2': 118.0, 'R1': 70.0, 'R2': 72.0, 'W1': 73.0, 'W2': 97.0}

In [44]:
temp.T.to_html("~/Downloads/casia_optimal_k_stats.html")